In [9]:
import pandas as pd

city = r"""city,state
sydney,nsw
brisbane,qld
perth,sa
"""

df = pd.read_csv(io.StringIO(city))

df['state'] = df['state'].apply(lambda x: x.upper())
df['city'] = df['city'].apply(lambda x: x.title())
print(df)

       city state
0    Sydney   NSW
1  Brisbane   QLD
2     Perth    SA

In [4]:
import pandas as pd

list_of_dicts = [
    {
        'date': '2018-03-04',
        'weather': 'cloudy'
    },
    {
        'date': '2018-03-05',
        'weather': 'sunny'
    },
    {
        'date': '2018-03-06'
    },
    {
        'date': '2018-03-07',
        'weather': 'rain'
    }
]
df = pd.DataFrame(list_of_dicts)
print(df)

         date weather
0  2018-03-04  cloudy
1  2018-03-05   sunny
2  2018-03-06     NaN
3  2018-03-07    rain

In [8]:
import pandas as pd
import io 
str_data = r"""
date, weather
2018-03-04, cloudy
2018-03-05, sunny
2018-03-06, rain
"""

df = pd.read_csv(io.StringIO(str_data))
print(df)

         date  weather
0  2018-03-04   cloudy
1  2018-03-05    sunny
2  2018-03-06     rain

In [5]:
import pandas as pd

fruit_price = r"""product,price
au-apple-1,2.5
au-apple-2,5.356
au-peach-1,4.99
au-peach-2,3.99
au-grape-2,3.99
"""

df = pd.read_csv(io.StringIO(fruit_price))
df['Is Apple'] = df['product'].apply(lambda x: 'Y' if 'apple' in x else 'N')

print(df)

      product  price Is Apple
0  au-apple-1  2.500        Y
1  au-apple-2  5.356        Y
2  au-peach-1  4.990        N
3  au-peach-2  3.990        N
4  au-grape-2  3.990        N

In [8]:
import pandas as pd
import numpy as np
from pandas.testing import assert_frame_equal
import io

data = r"""date,numeric_col_1,non-numeric_col,numeric_col_2
2018-06-10,0,NaN,NaN
2018-06-11,1,NaN,1
2018-06-12,NaN,a,2
2018-06-13,3,b,NaN
2018-06-14,NaN,x,3
2018-06-15,NaN,c,5
2018-06-16,6,d,7
"""

df = pd.read_csv(
    io.StringIO(data),
    index_col=['date'],
    parse_dates=True,
    
)
assert isinstance(df.index, pd.core.indexes.datetimes.DatetimeIndex)
print(df)

df_copy = df.copy()

# use private method
df = df._get_numeric_data()
print(df)

# use select_dtypes
df_copy = df_copy.select_dtypes([np.number])
print(df_copy)

assert_frame_equal(df, df_copy)

            numeric_col_1 non-numeric_col  numeric_col_2
date
2018-06-10            0.0             NaN            NaN
2018-06-11            1.0             NaN            1.0
2018-06-12            NaN               a            2.0
2018-06-13            3.0               b            NaN
2018-06-14            NaN               x            3.0
2018-06-15            NaN               c            5.0
2018-06-16            6.0               d            7.0
            numeric_col_1  numeric_col_2
date
2018-06-10            0.0            NaN
2018-06-11            1.0            1.0
2018-06-12            NaN            2.0
2018-06-13            3.0            NaN
2018-06-14            NaN            3.0
2018-06-15            NaN            5.0
2018-06-16            6.0            7.0
            numeric_col_1  numeric_col_2
date
2018-06-10            0.0            NaN
2018-06-11            1.0            1.0
2018-06-12            NaN            2.0
2018-06-13            3.0            NaN
2018-06-14            NaN            3.0
2018-06-15            NaN            5.0
2018-06-16            6.0            7.0